replicaCount: 2

image:
  repository: ""        # injected by CI/CD
  tag: ""               # injected by CI/CD
  pullPolicy: IfNotPresent

service:
  type: ClusterIP
  port: 8080

env:
  - name: OTEL_SERVICE_NAME
    value: currency

  - name: OTEL_TRACES_EXPORTER
    value: otlp

  - name: OTEL_METRICS_EXPORTER
    value: otlp

  - name: OTEL_EXPORTER_OTLP_ENDPOINT
    value: http://otel-collector:4317

  - name: CURRENCY_PORT
    value: "8080"

resources:
  requests:
    cpu: 50m
    memory: 64Mi
  limits:
    cpu: 200m
    memory: 128Mi

serviceAccount:
  create: true
  automount: true
  annotations: {}

nodeSelector:
  workload: managed

tolerations:
  - key: workload
    operator: Equal
    value: managed
    effect: NoSchedule

livenessProbe:
  httpGet:
    path: /health
    port: 8080
  initialDelaySeconds: 30
  periodSeconds: 10
  timeoutSeconds: 2
  failureThreshold: 3

readinessProbe:
  httpGet:
    path: /health
    port: 8080
  initialDelaySeconds: 10
  periodSeconds: 5
  timeoutSeconds: 2
  failureThreshold: 3

