# Default values for cart.
replicaCount: 1

image:
  repository: ""
  pullPolicy: IfNotPresent
  tag: ""


env:
  - name: OTEL_SERVICE_NAME
    value: cart

  - name: CART_SERVICE_ADDR
    value: "cart:8080"

  - name: VALKEY_ADDR
    value: "valkey-cart:6379"

initContainers:
  - name: wait-for-redis
    image: busybox
    command:
      - sh
      - -c
      - |
        until nc -z valkey-cart 6379; do echo waiting for redis; sleep 2; done


serviceAccount:
  create: true
  automount: true
  annotations: {}
  name: "cart"

service:
  type: ClusterIP
  port: 8080


resources: 
   limits:
     cpu: 300m
     memory: 256Mi
   requests:
    cpu: 100m
    memory: 128Mi

nodeSelector:
  workload : jvm

tolerations:
  - key: workload
    operator: Equal
    value: jvm
    effect: NoSchedule

autoscaling:
  enabled: false
  minReplicas: 2
  maxReplicas: 5
  targetCPUUtilizationPercentage: 70
  # targetMemoryUtilizationPercentage: 75



livenessProbe:
  tcpSocket:
    port: 8080
  initialDelaySeconds: 30
  periodSeconds: 10

readinessProbe:
  tcpSocket:
    port: 8080
  initialDelaySeconds: 10
  periodSeconds: 5

startupProbe:
  tcpSocket:
    port: 8080
  failureThreshold: 30
  periodSeconds: 5

ingress:
  enabled: false
  className: ""
  annotations: {}
  hosts: []
  tls: []

pdb:
  enabled: false
  # Use ONE of the following (not both)
  minAvailable: 1
  # maxUnavailable: 1
