replicaCount: 1

image:
  repository: valkey/valkey
  tag: 7.2-alpine
  pullPolicy: IfNotPresent

service:
  type: ClusterIP
  port: 6379

resources:
  requests:
    cpu: "50m"
    memory: "64Mi"
  limits:
    cpu: "250m"
    memory: "256Mi"

nodeSelector: {}
tolerations: []
